<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card>
        <v-card-title class="headline">
          Welcome {{ user ? user.firstName : '' }}
        </v-card-title>
        <v-card-text>
          <h3>Admin System</h3>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn v-if="!isAuthenticated" color="primary" nuxt to="/login"
            >Login</v-btn
          >
          <v-btn v-else color="primary" nuxt to="/products">view product</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      user: '',
      auth: false,
    }
  },
  computed: mapGetters(
    { isAuthenticated: 'auth/isAuthenticated' }
    // Here you can import other getters from the products.js
  ),
  mounted() {
    this.user = JSON.parse(localStorage.getItem('user'))
  },
}
</script>
