<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card>
        <v-card-title class="headline">
          Welcome {{ user ? user.firstName : '' }}
        </v-card-title>
        <v-card-text>
          <h3>Product List</h3>
          <v-list three-line>
            <template v-for="(item, index) in products">
              <v-subheader
                v-if="item.name"
                :key="item.id + item.name"
                v-text="item.name"
              ></v-subheader>

              <v-divider :key="item.name + index" :inset="false"></v-divider>

              <v-list-item :key="item.id">
                <v-list-item-avatar>
                  <v-img
                    :src="`http://localhost:3000/${item.image.split('/')[1]}`"
                  ></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title
                    v-html="item.description"
                  ></v-list-item-title>
                  <v-list-item-subtitle
                    v-html="'$' + item.price"
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <!--          <v-btn v-if="user" color="primary" @click="logout">logout</v-btn>-->
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      user: '',
      products: '',
    }
  },
  async mounted() {
    const product = await this.$axios.get('/products')
    this.products = product.data
  },
}
</script>
